.section1, .section2, .section3, .section4 {
  text-align: center;
}

.section1 {
  margin: 50px;
  border: 5px solid gray;
}

.section3 {
  margin-top: 60px;
}

.input {
  width: 500px;
  height: 50px;
  text-align: center;
  border-radius: 40px 40px 40px 40px;
  outline: 1px solid gray;
}

input:focus-visible {
    outline-color: black;
}

.section4 {
  margin-top: 20px;
}

.btn {
  width: 500px;
  height: 38px;
  border-radius: 40px 40px 40px 40px;
}
